<form action="/result" method="get" class="uk-search uk-search-default">
    <label class="uk-margin-medium-bottom">キャラ名
        <input class="uk-search-input uk-margin-bottom" type="search" name="name"
                {% if search_data[0] %} value="{{ search_data[0] }}" {% endif %} placeholder="有原 翼">
    </label>
    <label>スキル
        <input class="uk-search-input uk-margin-bottom" type="search" name="skill"
                {% if search_data[1] %} value="{{ ' '.join(search_data[1]) }}" {% endif %} placeholder="好機活用の極意">
    </label>
    <label>才能
        <input class="uk-search-input uk-margin-bottom" type="search" name="talent"
                {% if search_data[2] %} value="{{ ' '.join(search_data[2]) }}" {% endif %} placeholder="お助けマン">
    </label>
    <label>デレストカード
        <input class="uk-search-input uk-margin-bottom" type="search" name="cinderella"
                {% if search_data[3] %} value="{{ search_data[3] }}" {% endif %} placeholder="焼きそば生姜パン">
    </label>
    <div>
        <label><input class="uk-checkbox" type="checkbox"
                {% if not search_data or 'SSR' in search_data[4] %}
                      checked="checked"
                {% endif %} name="rare" value="SSR">SSR</label>
        <label><input class="uk-checkbox" type="checkbox"
                {% if not search_data or 'SR' in search_data[4] %}
                      checked="checked"
                {% endif %} name="rare" value="SR">SR</label>
        <label><input class="uk-checkbox" type="checkbox"
                {% if not search_data or 'R' in search_data[4] %}
                      checked="checked"
                {% endif %} name="rare" value="R">R</label>
        <label><input class="uk-checkbox" type="checkbox"
                {% if not search_data or 'N' in search_data[4] %}
                      checked="checked"
                {% endif %} name="rare" value="N">N</label>
    </div>
    <div class="uk-margin-top">
        <label><input class="uk-checkbox" type="checkbox"
                {% if not search_data or '花' in search_data[5] %}
                      checked="checked"
                {% endif %} name="element" value="花">花</label>
        <label><input class="uk-checkbox" type="checkbox"
                {% if not search_data or '蝶' in search_data[5] %}
                      checked="checked"
                {% endif %} name="element" value="蝶">蝶</label>
        <label><input class="uk-checkbox" type="checkbox"
                {% if not search_data or '風' in search_data[5] %}
                      checked="checked"
                {% endif %} name="element" value="風">風</label>
        <label><input class="uk-checkbox" type="checkbox"
                {% if not search_data or '月' in search_data[5] %}
                      checked="checked"
                {% endif %} name="element" value="月">月</label>
    </div>
    <button class="uk-button uk-button-default" id="ajax_test">Search</button>
</form>