<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/a6a297f8cb.js" crossorigin="anonymous"></script>
    <link href="../static/default.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <a href="/"><h1 class="header-title content">hachinai-search</h1></a>
</header>
<div class="content content-flex">
    <div class="result">
        {% block content %}
        {% endblock %}
    </div>
    <div class="search-form">
        <form class="search-form" action="/result" method="GET">
            <div>
                <label for="card_name">カード名</label>
                {% if card_name %}
                    <input type="text" id="card_name" name="card_name" value="{{ card_name }}">
                {% else %}
                    <input type="text" id="card_name" name="card_name">
                {% endif %}

            </div>
            <div>
                <label for="cinderella_card_name">デレストカード</label>
                {% if cinderella_card_name %}
                    <input type="text" id="cinderella_card_name" name="cinderella_card"
                           value="{{ cinderella_card_name }}">
                {% else %}
                    <input type="text" id="cinderella_card_name" name="cinderella_card">
                {% endif %}

            </div>
            <div>
                <label for="skill_name">スキル名</label>
                {% if skill_name %}
                    <input type="text" id="skill_name" name="skill_name" value="{{ skill_name }}">
                {% else %}
                    <input type="text" id="skill_name" name="skill_name">

                {% endif %}
            </div>
            <div>
                <label for="ability_name">才能</label>
                {% if ability_name %}
                    <input type="text" id="ability_name" name="ability_name" value="{{ ability_name }}">
                {% else %}
                    <input type="text" id="ability_name" name="ability_name">
                {% endif %}
            </div>
            <div class="rare">
                <p>レア度</p>
                <input type="checkbox" checked="checked" id="SSR" name="rare" value="SSR">
                <label for="SSR">SSR</label>
                <input type="checkbox" checked="checked" id="SR" name="rare" value="SR">
                <label for="SR">SR</label>
                <input type="checkbox" checked="checked" id="R" name="rare" value="R">
                <label for="R">R</label>
                <input type="checkbox" checked="checked" id="N" name="rare" value="N">
                <label for="N">N</label>
            </div>
            <div class="attribute">
                <p>属性</p>
                <input type="checkbox" checked="checked" id="花" name="attribute" value="花">
                <label for="花">花</label>
                <input type="checkbox" checked="checked" id="蝶" name="attribute" value="蝶">
                <label for="蝶">蝶</label>
                <input type="checkbox" checked="checked" id="風" name="attribute" value="風">
                <label for="風">風</label>
                <input type="checkbox" checked="checked" id="月" name="attribute" value="月">
                <label for="月">月</label>
            </div>
            <input type="submit" value="検索">
        </form>
    </div>
</div>
<footer>
    <div class="content">
        制作：<a href="https://twitter.com/kibehiro" target="_blank" rel="noopener">キベ <i class="fab fa-twitter"></i></a>
    </div>
</footer>
</body>
</html>