<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/a6a297f8cb.js" crossorigin="anonymous"></script>
    <link href="../static/default.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1 class="header-title content">hachinai-search</h1>
</header>
<div class="content content-flex">
    <div class="result">
        <div class="card">
            <div class="name">
                SSR
                【才能の片鱗】有原 翼 (投先)
                属性：花
            </div>
            <div class="cinderella list">
                <p>デレストメニュー</p>
                <ul>
                    <li>マシンバッティング</li>
                    <li>タイヤ引き</li>
                    <li>タイヤ引き</li>
                </ul>
            </div>
            <div class="skill list">
                <p>スキル</p>
                <ul>
                    <li>開花する才能</li>
                    <li style="background-color: palegreen">球威の秘奥義</li>
                    <li>体力の奥義</li>
                    <li>精神力強化の奥義</li>
                    <li>下半身強化の極意</li>
                    <li>柔能制剛の極意</li>
                    <li>体力の心得</li>
                    <li>体重移動の心得</li>
                    <li>スタミナの基礎</li>
                </ul>
            </div>
            <div class="ability list">
                <p>才能</p>
                <ul>
                    <li>豪腕</li>
                    <li>踏み込みが良い</li>
                    <li>エースの自負</li>
                    <li>球持ちが良い</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="name">
                SSR
                【才能の片鱗】有原 翼 (投先)
                属性：花
            </div>
            <div class="cinderella list">
                <p>デレストメニュー</p>
                <ul>
                    <li>マシンバッティング</li>
                    <li>タイヤ引き</li>
                    <li>タイヤ引き</li>
                </ul>
            </div>
            <div class="skill list">
                <p>スキル</p>
                <ul>
                    <li>開花する才能</li>
                    <li>球威の秘奥義</li>
                    <li>体力の奥義</li>
                    <li>精神力強化の奥義</li>
                    <li>下半身強化の極意</li>
                    <li>柔能制剛の極意</li>
                    <li>体力の心得</li>
                    <li>体重移動の心得</li>
                    <li>スタミナの基礎</li>
                </ul>
            </div>
            <div class="ability list">
                <p>才能</p>
                <ul>
                    <li>豪腕</li>
                    <li>踏み込みが良い</li>
                    <li>エースの自負</li>
                    <li>球持ちが良い</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="name">
                SSR
                【才能の片鱗】有原 翼 (投先)
                属性：花
            </div>
            <div class="cinderella list">
                <p>デレストメニュー</p>
                <ul>
                    <li>マシンバッティング</li>
                    <li>タイヤ引き</li>
                    <li>タイヤ引き</li>
                </ul>
            </div>
            <div class="skill list">
                <p>スキル</p>
                <ul>
                    <li>開花する才能</li>
                    <li>球威の秘奥義</li>
                    <li>体力の奥義</li>
                    <li>精神力強化の奥義</li>
                    <li>下半身強化の極意</li>
                    <li>柔能制剛の極意</li>
                    <li>体力の心得</li>
                    <li>体重移動の心得</li>
                    <li>スタミナの基礎</li>
                </ul>
            </div>
            <div class="ability list">
                <p>才能</p>
                <ul>
                    <li>豪腕</li>
                    <li>踏み込みが良い</li>
                    <li>エースの自負</li>
                    <li>球持ちが良い</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search-form">
        <form class="search-form" action="/result" method="post">
            <div>
                <label for="card_name">カード名</label>
                <input type="text" id="card_name">
            </div>
            <div>
                <label for="cinderella_card_name">デレストカード</label>
                <input type="text" id="cinderella_card_name">
            </div>
            <div>
                <label for="skill_name">スキル名</label>
                <input type="text" id="skill_name">
            </div>
            <div>
                <label for="ability_name">才能</label>
                <input type="text" id="ability_name">
            </div>
            <div class="rare">
                <p>レア度</p>
                <input type="checkbox" checked="checked" id="SSR">
                <label for="SSR">SSR</label>
                <input type="checkbox" checked="checked" id="SR">
                <label for="SR">SR</label>
                <input type="checkbox" checked="checked" id="R">
                <label for="R">R</label>
                <input type="checkbox" checked="checked" id="N">
                <label for="N">N</label>
            </div>
            <div class="attribute">
                <p>属性</p>
                <input type="checkbox" checked="checked" id="花">
                <label for="花">花</label>
                <input type="checkbox" checked="checked" id="蝶">
                <label for="蝶">蝶</label>
                <input type="checkbox" checked="checked" id="風">
                <label for="風">風</label>
                <input type="checkbox" checked="checked" id="月">
                <label for="月">月</label>
            </div>
            <input type="submit" value="検索">
        </form>
    </div>
</div>
<footer>
    <div class="content">
        制作：<a href="https://twitter.com/kibehiro" target="_blank" rel="noopener">キベ <i class="fab fa-twitter"></i></a>
    </div>
</footer>
</body>
</html>