<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ハチナイ検索サイト</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css"/>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>
<body>
<header>
    <h1 class="uk-margin-left"><a class="uk-link-heading" href="/">ハチナイ検索ツール</a></h1>
    <hr>
</header>
<div class="uk-grid-divider" uk-grid>
    <div class="uk-width-expand">
        <div class="uk-container">
            {% for i in result %}
                {% if i == '検索結果なし' %}
                    <div class="uk-card uk-card-body uk-card-default">
                        <p class="uk-card-title" style="font-size: 120%">検索結果なし</p>
                    </div>
                {% else %}
                    <div class="uk-card uk-card-body uk-card-default uk-margin-bottom">
                        <p class="uk-card-title" style="font-size: 120%">
                            {{ i[0] }}{{ i[1]['カード名'] }}<span class="uk-text-bold">属性:</span>{{ i[1]['属性'] }}
                        </p>

                        <div class="uk-overflow-auto">
                            <div class="uk-text-center">デレスト</div>
                            <table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-middle uk-margin-remove-top uk-table-responsive">
                                <thead>
                                <tr>
                                    <th class="uk-table-shrink">ランク</th>
                                    <th class="uk-table-shrink">メニュー</th>
                                    <th class="uk-table-shrink">属性</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for j in i[1]['デレスト'] %}
                                    <tr>
                                        <th><span class="uk-label">{{ i[1]['デレスト'][j][0] | escape }}</span></th>
                                        {% if cinderella != '' and cinderella in i[1]['デレスト'][j][1] %}
                                            <th><span class="uk-label uk-label-success">{{ i[1]['デレスト'][j][1] }}</span>
                                            </th>
                                        {% else %}
                                            <th><span class="uk-label">{{ i[1]['デレスト'][j][1] }}</span></th>
                                        {% endif %}
                                        <th><span class="uk-label">{{ i[1]['デレスト'][j][2] }}</span></th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div>
                            <div class="uk-text-center uk-margin-bottom">スキル</div>
                            <div class="uk-text-center">
                                {% for j in i[1]['スキル'] %}
                                    {% if skill != '' and skill in j %}
                                        <span class="uk-label uk-label-success">{{ j }}</span>
                                    {% else %}
                                        <span class="uk-label">{{ j }}</span>
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="uk-text-center uk-margin-bottom">才能</div>
                            <div class="uk-text-center">
                                {% for j in i[1]['才能'] %}
                                    {% if talent != '' and talent in j %}
                                        <span class="uk-label uk-label-success">{{ j }}</span>
                                    {% else %}
                                        <span class="uk-label">{{ j }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
    <div class="uk-width-1-3 uk-visible@m">
        {% include 'search_form.html' %}
    </div>
</div>

<div class="uk-position-bottom-right uk-position-fixed uk-hidden@m uk-margin-large-right uk-margin-large-bottom">
    <a href="#test" uk-toggle uk-icon="icon: search; ratio: 2"></a>
</div>
<div id="test" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        {% include 'search_form.html' %}
    </div>
</div>

</body>
</html>