<form action="/result" method="post" class="uk-search uk-search-default">
    <label class="uk-margin-medium-bottom">キャラ名
        <input class="uk-search-input uk-margin-bottom" type="search" name="name" placeholder="有原 翼">
    </label>
    <label>スキル
        <input class="uk-search-input uk-margin-bottom" type="search" name="skill" placeholder="好機活用の極意">
    </label>
    <label>才能
        <input class="uk-search-input uk-margin-bottom" type="search" name="talent" placeholder="お助けマン">
    </label>
    <label>デレストカード
        <input class="uk-search-input uk-margin-bottom" type="search" name="cinderella" placeholder="焼きそば生姜パン">
    </label>
    <div>
        <label><input class="uk-checkbox" type="checkbox" checked="checked" name="rare" value="SSR">SSR</label>
        <label><input class="uk-checkbox" type="checkbox" checked="checked" name="rare" value="SR">SR</label>
        <label><input class="uk-checkbox" type="checkbox" checked="checked" name="rare" value="R">R</label>
        <label><input class="uk-checkbox" type="checkbox" checked="checked" name="rare" value="N">N</label>
    </div>
    <div class="uk-margin-top">
        <label><input class="uk-checkbox" type="checkbox" checked="checked" name="element" value="花">花</label>
        <label><input class="uk-checkbox" type="checkbox" checked="checked" name="element" value="蝶">蝶</label>
        <label><input class="uk-checkbox" type="checkbox" checked="checked" name="element" value="風">風</label>
        <label><input class="uk-checkbox" type="checkbox" checked="checked" name="element" value="月">月</label>
    </div>
    <button class="uk-button uk-button-default">Search</button>
</form>